<% content_for :head do %>
    <%= javascript_include_tag 'practica_faye' %>
    <%= javascript_include_tag "#{FAYE_SERVER_URL}.js" %>
    <%= javascript_include_tag js_faye_init_path %>
<% end %>

<h1>Practica#index</h1>
<p>Find me in app/views/practica/index.html.erb</p>


<%= text_area(:irc, :area, :cols => 30, :rows => 10) %>
<%= form_tag message_path, :remote => true, :id => 'chat' do %>
  <%= label_tag(:message, "Mensaje:") %>
  <%= text_field_tag(:message) %>
  <%= submit_tag("Enviar") %>
<% end %>