= form_for @technician do |f|
  - if @technician.errors.any?
    #error_explanation
      %h2
        = pluralize(@technician.errors.count, "error")
        prohibited this teacher from being saved:
      %ul
        - @technician.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :username
    %br
    = f.text_field :username
  .field
    = f.label :email
    %br
    = f.text_field :email
  - if @current_method == "new"
    .field
      = f.label :password
      %br
      = f.password_field :password
    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
  = f.fields_for :profile do |p|
    .field
      = p.label :firstname
      %br
      = p.text_field :firstname
    .field
      = p.label :lastname
      %br
      = p.text_field :lastname
  .actions
    = f.submit