-title 'Listing technicians'
= content_for :head do
  = stylesheet_link_tag 'telelab_datatables'
  
  = javascript_include_tag :jquery_datatables
  = javascript_include_tag 'datatable'

%table.display{:cellpadding=> "0", :cellspacing => "0", 'datatable' => true, :fulltable => true}
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Username
      %th Email
      %th Type
      %th Actions
  %tfoot
    %tr
      %th Firstname
      %th Lastname
      %th Username
      %th Email
      %th Type
      %th Actions
  %tbody
    - @technicians.each do |technician|
      %tr
        %td= technician.profile.firstname
        %td= technician.profile.lastname
        %td= technician.username
        %td= technician.email
        %td= technician.type
        %td{ :style => "text-align: center"}
          = link_to 'Show', technician, :class => 'show_button'
          = link_to 'Edit', edit_technician_path(technician), :class => 'edit_button'
          = link_to 'Destroy', technician, :confirm => 'Are you sure?', :method => :delete, :class => 'delete_button'

%br/
= link_to 'New technician', new_technician_path, :class => 'button'
