= content_for :head do
  -#= javascript_include_tag :jquery_datatables
  -#= javascript_include_tag 'technician'
%h1 Listing technicians
%table#teachers_table
  %thead
    %tr
      %th Username
      %th Firstname
      %th Lastname
      %th Show
      %th Edit
      %th Destroy
  %tbody
    - @technicians.each do |technician|
      %tr
        %td= technician.username
        %td= technician.profile.firstname
        %td= technician.profile.lastname
        %td= link_to 'Show', technician
        %td= link_to 'Edit', edit_technician_path(technician)
        %td= link_to 'Destroy', technician, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Technician', new_technician_path
