%h1 Listing puertos
%table
  %tr
    %th Nombre
    %th Etiqueta
    %th Estado
    %th Dispositivo
    %th Device connection
    %th
    %th
    %th
  - @puertos.each do |puerto|
    %tr
      %td= puerto.nombre
      %td= puerto.etiqueta
      %td= puerto.estado
      %td= puerto.dispositivo
      %td= puerto.device_connection
      %td= link_to 'Show', puerto
      %td= link_to 'Editar', edit_puerto_path(puerto)
      %td= link_to 'Destroy', puerto, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Puerto', new_puerto_path
