<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @puerto.nombre %>
</p>

<p>
  <b>Etiqueta:</b>
  <%= @puerto.etiqueta %>
</p>

<p>
  <b>Estado:</b>
  <%= @puerto.estado %>
</p>

<p>
  <b>Dispositivo:</b>
  <%= @puerto.dispositivo %>
</p>

<p>
  <b>Device connection:</b>
  <%= @puerto.device_connection %>
</p>


<%= link_to 'Edit', edit_puerto_path(@puerto) %> |
<%= link_to 'Back', puertos_path %>
