- title 'Listando Admins'
= content_for :head do
  = stylesheet_link_tag 'telelab_datatables'
  
  = javascript_include_tag :jquery_datatables
  = javascript_include_tag 'datatable'

%table.display{:cellpadding=> "0", :cellspacing => "0", 'datatable' => true}
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Username
      %th Email
      %th Actions
  %tfoot
    %tr
      %th Firstname
      %th Lastname
      %th Username
      %th Email
      %th Actions
  %tbody
    - @admins.each do |admin|
      - if can? :see, admin
        %tr
          %td= admin.profile.firstname
          %td= admin.profile.lastname
          %td= admin.username
          %td= admin.email
          %td{ :style => "text-align: center"}
            = link_to 'Show', admin, :class => 'show_button'
            = link_to 'Edit', edit_admin_path(admin), :class => 'edit_button'
            = link_to 'Destroy', admin, :confirm => 'Are you sure?', :method => :delete, :class => 'delete_button'

%br/
= link_to 'New admin', new_admin_path, :class => 'button'