= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2
        = pluralize(@student.errors.count, "error")
        prohibited this student from being saved:
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :username
    %br
    = f.text_field :username
  = f.fields_for :profile do |p|
    .field
      = p.label :firstname
      %br
      = p.text_field :firstname
    .field
      = p.label :lastname
      %br
      = p.text_field :lastname
  .actions
    = f.submit
