- title 'Listando Estudiantes'
= content_for :head do
  = stylesheet_link_tag 'telelab_datatables'
  
  = javascript_include_tag :jquery_datatables
  = javascript_include_tag 'datatable'

%table.display{:cellpadding=> "0", :cellspacing => "0", 'datatable' => true, :fulltable => true}
  %thead
    %tr
      %th Username
      %th Firstname
      %th Lastname
      %th Email
      %th Actions
  %tfoot
    %tr
      %th Username
      %th Firstname
      %th Lastname
      %th Email
      %th Actions
  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.username, student
        %td= student.profile.firstname
        %td= student.profile.lastname
        %td= student.email
        %td{ :style => "text-align: center"}
          = link_to 'Show', student, :class => 'show_button'
          = link_to 'Editar', edit_student_path(student), :class => 'edit_button' if can? :edit, student
          = link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete, :class => 'delete_button' if can? :destroy, student

%br/
= link_to 'New student', new_student_path, :class => 'button' if can? :create, Student