<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Tag:</b>
  <%= @device.tag %>
</p>

<p>
  <b>Category:</b>
  <%= @device.category %>
</p>

<p>
  <b>Type:</b>
  <%= @device.type %>
</p>

<p>
  <b>Description:</b>
  <%= @device.description %>
</p>

<p>
  <b>Usb:</b>
  <%= @device.usb %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
