%p#notice= notice

%p
  %b Numero:
  = @vlan.numero
%p
  %b Practica:
  = @vlan.practica
%p
  %b Puerto:
  = @vlan.puerto
%p
  %b Endpoint:
  = @vlan.endpoint

= link_to 'Edit', edit_vlan_path(@vlan)
\|
= link_to 'Back', vlans_path
