= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.select(:type, @roles, { :prompt => 'Select a role' })
  .field
    = f.label :username
    %br/
    = f.text_field :username
  .field
    = f.label :email
    %br/
    = f.text_field :email
  - if @current_method == "new"
    .field
      = f.label :password
      %br/
      = f.password_field :password
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
  = f.fields_for :profile do |p|
    .field
      = p.label :firstname
      %br/
      = p.text_field :firstname
    .field
      = p.label :lastname
      %br/
      = p.text_field :lastname
  .actions
    = f.submit
