%ul
  %li
    = link_to "Inicio", teacher_home_path, :class => 'button'
  %br
  %li
    = link_to "Todos los cursos", courses_path, :class => 'button'
  %br
  %li
    = link_to "Mis Cursos", teacher_courses_path, :class => 'button'
  %li
    = link_to "Mis Estudiantes", teacher_students_path, :class => 'button'
  %li
    = link_to "Gestionar Practicas", teacher_practicas_path, :class => 'button'
  %li
    = link_to "Reservar Practica", new_practica_path, :class => 'button'
  %br
  %li
    = link_to "Manual de usuario",'/anexos/user_guide.pdf', :class => 'button'
