%ul
  %li
    = link_to "Inicio", technician_home_path, :class => 'button'
  %br
  %li
    = link_to "Gestionar Dispositivos", dispositivos_path, :class => 'button'
  %li
    = link_to "Gestionar Conexiones", device_connections_path, :class => 'button'
  %br
  %li
    = link_to "Gestionar Practicas", teacher_practicas_path, :class => 'button'
  %li
    = link_to "Reservar Practica", new_practica_path, :class => 'button'
  %br
  %li
    = link_to "Manual de usuario",'http://www.google.com', :class => 'button'
