<%= content_for :head do %>
    <%= javascript_include_tag 'jquery.dataTables' %>
    <%= javascript_include_tag 'teachers' %>
<% end %>

<h1>Listing teachers</h1>


<table id="teachers_table">
  <thead>
  <tr>
    <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  </thead>
  <tbody>
  <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.username %></td>
        <td><%= teacher.profile.firstname %></td>
        <td><%= teacher.profile.lastname %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Teacher', new_teacher_path %>
