- content_for :head do
  = stylesheet_link_tag "token-input-facebook"
  = stylesheet_link_tag 'fullcalendar'
  = stylesheet_link_tag 'calendar'
  = stylesheet_link_tag 'partials/reserve_practice'

  = javascript_include_tag 'tokeninput'
  = javascript_include_tag 'fullcalendar.min'
  = javascript_include_tag 'calendar'

= form_for @practica, :html => {:multipart => true} do |f|
  - if @practica.errors.any?
    #error_explanation
      %h2
        = pluralize(@practica.errors.count, "error")
        prohibited this practica from being saved:
      %ul
        - @practica.errors.full_messages.each do |msg|
          %li= msg
  .calendar
    #reservation_calendar
  %br/
  .reserve_data
    .title
      Datos de la reserva
    .field
      = f.label :name
      %br/
      = f.text_field :name
    = f.fields_for :event do |ev|
      .field
        = ev.label :start, 'Inicio'
        %br/
        = ev.text_field :start, :readonly => true
      .field
        = ev.label :end, 'Fin'
        %br/
        = ev.text_field :end, :readonly => true
    .field
      = f.label :estado
      %br/
      = f.text_field :estado, :value => @practica.estado, :readonly => "readonly"
    .field
      = f.label :image, 'Subir imagen o diagrama desde archivo'
      %br/
      = f.file_field :image
    .field
      = f.label :remote_image_url, "o URL"
      %br/
      = f.text_field :remote_image_url

    %br/
    %div
      = f.label :devices, "Dispositivos"
      #devices_offer
        - if @show_first
          - @dispositivos_reservados.each do |dispositivo|
            %div
              = check_box_tag "practica[dispositivo_ids][]", dispositivo.id, true
              = dispositivo.nombre
    %p
    %div
      = f.label :user_list, "Compañeros de trabajo"
      %br/
      = f.text_field :user_list, "data-pre" => @allowed_users.collect{|user| {:id => user.id, :name => user.username}}.to_json, :class => 'tokeninput', 'data-source' => '/api/users.json'
    %p
    .actions
      = f.submit
