- content_for :head do
  = stylesheet_link_tag 'partials/make_pactice'
  = stylesheet_link_tag 'partials/terminal_console'
  = stylesheet_link_tag 'partials/terminal_chat'

  = javascript_include_tag 'tabs'
  = javascript_include_tag "#{FAYE_SERVER_URL}.js"
  = javascript_include_tag 'jquery.terminal_gato-0.3.6'

  -#= "#SPECIAL RENDERING"
  = javascript_include_tag practica_lab_path @practica

#practica
  .main_title.dark_container= @practica.name
  #practica_countdown
  .viewport_row
    .diagram
      #diagram.practice_diagram
        = image_tag @practica.image_url(:diagram) if @practica.image?
      .diagram_form
        -#= form_for @practica, :remote => true, :url => update_diagram_practica_path(@practica), :html => {:multipart => true} do |f|
          .field
            = f.label :image, 'Subir imagen o diagrama desde archivo'
            %br/
            = f.file_field :image
          .field
            = f.label :remote_image_url, "o URL"
            %br/
            = f.text_field :remote_image_url
          .actions
            = f.submit 'Enviar imagen'
    .connections
      = render :partial => "practicas/practice_gadgets/connections", :locals => {:conexiones => @logical_connections, :conexion => @conexion, :the_puertos => @puertos}
  .viewport_row
    .consoles
      = render :partial => "practicas/practice_gadgets/console"
    .chat.ui-corner-all
      = render :partial => "practicas/practice_gadgets/chat"
