- title @practica.name
.white_links

  = render 'details'

  %p
    %b Estado:
    = @practica.estado
    |
    - if @practica.abierta?
      = "Tiempo que resta:"
      #countdown_timer{"data-time" => "#{@practica.finishes_in}"}
    - elsif @practica.cerrada?
      = link_to "Ver mensajes", messages_practica_path
    - elsif @practica.reservada?
      = "Inicia en:"
      #countdown_timer{"data-time" => "#{@practica.starts_in}"}
    %p
      = link_to 'Entrar', realizar_practica_path(@practica), :class => 'button' if can? :make_practice, @practica
      %br
      %br
      = link_to 'Editar', edit_practica_path(@practica), :class => 'button' if can? :edit, @practica
      %br

    = link_to 'Atras', :back
