- title @practica.name

%p
  %b Name:
  = @practica.name
%p
  %b Inicio:
  = @practica.start_humanized
%p
  %b Fin:
  = @practica.end_humanized
%b Dispositivo(s):
%ul
  - @dispositivos_reservados.each do |devices|
    %li= devices.nombre

%b Docentes asignados:
%ul
  - @practica.teachers.each do |teacher|
    %li= teacher.username

%b Estudiantes:
%ul
  - @practica.students.each do |student|
    %li= student.username

%p
  %b Estado:
  = @practica.estado
.white_links
  = link_to 'Editar', edit_practica_path(@practica) if can? :edit, @practica
  = link_to 'Atras', :back
  