- title @practica.name
%p
  %b Name:
  = @practica.name
%p
  %b Start:
  = @practica.start
%p
  %b End:
  = @practica.end
%b Dispositivo(s):
%ul
  - @dispositivos_reservados.each do |devices|
    %li= devices.nombre
%b Usuario(s):
%ul
  - @allowed_users.each do |users|
    %li= users.username
%p
  %b Estado:
  = @practica.estado
= link_to 'Edit', edit_practica_path(@practica)
|
\#{link_to 'Back', practicas_path}
