- title @practica.name
.white_links
  %p
    %b Name:
    = @practica.name
  %p
    %b Inicio:
    = @practica.start_humanized
  %p
    %b Fin:
    = @practica.end_humanized
  %b Dispositivo(s):
  %ul
    - @dispositivos_reservados.each do |device|
      %li= "#{device.nombre} | #{device.number_of_puertos_utiles} puertos"

  %b Docentes asignados:
  %ul
    - @practica.teachers.each do |teacher|
      %li= teacher.name

  %b Estudiantes:
  %ul
    - @practica.students.each do |student|
      %li= link_to student.name, student

  %p
    %b Estado:
    = @practica.estado
    |
    - if @practica.abierta?
      = "Tiempo que resta:"
      #countdown_timer{"data-time" => "#{@practica.finishes_in}"}
    - elsif @practica.cerrada?
      = "miau2"
    - elsif @practica.reservada?
      = "Inicia en:"
      #countdown_timer{"data-time" => "#{@practica.starts_in}"}
    %p
      = link_to 'Entrar', realizar_practica_path(@practica), :class => 'button' if can? :make_practice, @practica
      %br
      %br
      = link_to 'Editar', edit_practica_path(@practica), :class => 'button' if can? :edit, @practica
      %br
      %br
    = link_to 'Atras', :back
