- content_for :head do
  = stylesheet_link_tag 'partials/connections'
  = stylesheet_link_tag 'telelab_datatables'
  = javascript_include_tag :jquery_datatables
  = javascript_include_tag 'datatable'
#connection_error
%br
#conexiones_table
  = render 'practicas/conexiones_table', conexiones: conexiones
%br
-##puertos
-#  %span.puerto_libre Puerto libre
-#  %span.puerto_conectado Puerto conectado
%br
#new_connection_form
  = render 'practicas/conexiones_form', :the_puertos => the_puertos, :conexion => conexion
