<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<div id="container">

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= content_tag :h1, yield(:title) if show_title? %>

  <div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.username %>, you are a <%= current_user.class %> . Not you?
        <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
        Please <%= link_to "Sign in", new_user_session_path %> to have more privileges
    <% end %>
  </div>

  <%= yield %>
</div>
</body>
</html>
