<%= form_for(@dispositivo) do |f| %>
  <% if @dispositivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dispositivo.errors.count, "error") %> prohibited this dispositivo from being saved:</h2>

      <ul>
      <% @dispositivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :etiqueta %><br />
    <%= f.text_field :etiqueta %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br />
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :com %><br />
    <%= f.text_field :com %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
