= form_for(@dispositivo) do |f|
  - if @dispositivo.errors.any?
    #error_explanation
      %h2
        = pluralize(@dispositivo.errors.count, "error")
        prohibited this dispositivo from being saved:
      %ul
        - @dispositivo.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :nombre
    %br/
    = f.text_field :nombre
  .field
    = f.label :etiqueta
    %br/
    = f.text_field :etiqueta
  .field
    = f.label :tipo
    %br/
    = f.text_field :tipo
  .field
    = f.label :categoria
    %br/
    = f.text_field :categoria
  .field
    = f.label :estado
    %br/
    = f.text_field :estado
  .field
    = f.label :com
    %br/
    = f.text_field :com
  .actions
    = f.submit
