- content_for :head do
  = javascript_include_tag 'nested_form'

.white_links
  = nested_form_for @dispositivo do |f|
    - if @dispositivo.errors.any?
      #error_explanation
        %h2
          = pluralize(@dispositivo.errors.count, "error")
          prohibited this dispositivo from being saved:
        %ul
          - @dispositivo.errors.full_messages.each do |msg|
            %li= msg
    .inline_fields
      .field
        = f.label :nombre
        %br
        = f.text_field :nombre
      .field
        = f.label :etiqueta
        %br
        = f.text_field :etiqueta
      .field
        = f.label :tipo
        %br
        = f.select(:tipo, @types, { :prompt => 'Seleccione el tipo del dispositivo' })
      .field  
        = f.label :categoria
        %br
        = f.select(:categoria, @categories, { :prompt => 'Seleccione la categoria del dispositivo' })
      .field
        = f.label :estado
        %br
        = f.select(:estado, @states, { :prompt => 'Seleccione el estado del dispositivo' })
      .field
        = f.label :com
        %br
        = f.text_field :com
      .field
        = f.label :cluster_id
        %br
        = f.text_field :cluster_id
      %br
      Puertos>
      %br
      .darker_container
        = f.fields_for :puertos do |puerto_form|
          = puerto_form.label :nombre
          = puerto_form.text_field :nombre, :size => 16
          = puerto_form.label :etiqueta
          = puerto_form.text_field :etiqueta, :size => 10
          = puerto_form.label :estado
          = puerto_form.select(:estado, @puerto_states)
          = puerto_form.link_to_remove "Quitar este puerto"
        %br
        .reset_links
        = f.link_to_add 'Agregar puerto' , :puertos, :class => 'button'
    %br
    %br
    .actions
      = f.submit nil, :class => 'button'
