.field
  = f.label :nombre
  = f.text_field :nombre
.field
  = f.label :etiqueta
  = f.text_field :etiqueta
.field
  = f.label :estado
  = f.text_field :estado

= f.link_to_remove "Quitar este puerto"