<h1>Listing dispositivos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Etiqueta</th>
    <th>Tipo</th>
    <th>Categoria</th>
    <th>Estado</th>
    <th>Com</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dispositivos.each do |dispositivo| %>
  <tr>
    <td><%= dispositivo.nombre %></td>
    <td><%= dispositivo.etiqueta %></td>
    <td><%= dispositivo.tipo %></td>
    <td><%= dispositivo.categoria %></td>
    <td><%= dispositivo.estado %></td>
    <td><%= dispositivo.com %></td>
    <td><%= link_to 'Show', dispositivo %></td>
    <td><%= link_to 'Edit', edit_dispositivo_path(dispositivo) %></td>
    <td><%= link_to 'Destroy', dispositivo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dispositivo', new_dispositivo_path %>
