<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @dispositivo.nombre %>
</p>

<p>
  <b>Etiqueta:</b>
  <%= @dispositivo.etiqueta %>
</p>

<p>
  <b>Tipo:</b>
  <%= @dispositivo.tipo %>
</p>

<p>
  <b>Categoria:</b>
  <%= @dispositivo.categoria %>
</p>

<p>
  <b>Estado:</b>
  <%= @dispositivo.estado %>
</p>

<p>
  <b>Com:</b>
  <%= @dispositivo.com %>
</p>


<%= link_to 'Edit', edit_dispositivo_path(@dispositivo) %> |
<%= link_to 'Back', dispositivos_path %>
